// Openlayer style overwrites
@import './variables';


.ol-control {
  background: white;
  cursor: pointer;

  &:hover {
    background: none;
  }

  button,
  button:hover,
  button:focus {
    cursor: pointer;
    background: none;
  }

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.ol-zoom, .ol-fit-location, .ol-map-search {
  color: $primary-color;

  border-radius: 9px;
  left: 21px;

  &:hover {
    background-color: #f5f5f5;
  }
}

.ol-zoom {
  top: auto;
  bottom: 100px;

  .ol-zoom-in,
  .ol-zoom-out {
    border-radius: 0;
    background: none;

    &:hover, &:active, &:visited {
      background: none;
    }
  }

  .ol-zoom-in {
    border-bottom: solid 1px white;
    padding-bottom: 11px;
  }
}

.ol-fit-location {
  bottom: 185px;

  &.ol-control button {
    padding: 2px;
  }
}

.ol-map-search {
  top: 26px;
}

.ol-control button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;

  padding: 8px;

  img {
    width: 100%;
  }
}

.ol-rotate{
  left: 21px;
  right: auto;
  bottom: 235px;
  top: auto;

  &:hover {
    background-color: #f5f5f5;
  }

  .ol-compass {
    color: $primary-color;
    margin-top: -5px;
  }
}
